@font-face {
	font-family: "Baskervville";
	src: url("/fonts/Baskervville/Baskervville[wght].woff2") format("woff2");
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Baskervville";
	src: url("/fonts/Baskervville/Baskervville-Italic[wght].woff2") format("woff2");
	font-weight: 300 700;
	font-display: swap;
	font-style: italic;
}
